.custom-card {
    width: '18rem';
    border: 1px solid #ddd;
    /* Example border style */
    border-radius: 8px;
    /* Example border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Example box shadow */
    background-color: bisque;
}

.custom-card .card-title {
    color: #000000;
    /* Example title color */
}

.custom-card .card-text {
    color: #000000;
    /* Example text color */
}

.custom-card .btn-primary {
    background-color: rgb(83, 46, 75);
    /* Example button background color */
    border-color: #3498db;
    /* Example button border color */
    color: #fff;
    /* Example button text color */
}