.mainContainer {
  display: flex;
  font-family: 'Exo 2', sans-serif;
  justify-content:center;
  height: 100vh;
  color: white;
  padding: 10px;
  overflow-y: auto;
}

.mainContainer::-webkit-scrollbar {
  width: 12px;
}

.mainContainer::-webkit-scrollbar-thumb {
  background-color: rgba(21, 42, 59, 0.75);
  border-radius: 6px;
}

.buttonContainer {
  display: flex ;
  justify-content: flex-end ;
  align-items: center ;
  height: 10vh ;
  padding-right: 200px;
}

.addTripButton {
  font-size: 20px ;
  padding: 10px 20px ;
  color: #ffffff ;
  border-color: #1c394e ;
  background-color: rgba(21, 42, 59, 0.6) ;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
}

.addTripButton:hover {
  background-color: #415f79 ;
  color: white;
}

