.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding-left: 20vh;
  font-family: 'Exo 2', sans-serif;
  height: 100vh;
  color: white;
  overflow-y: auto;

}

.mainContainer::-webkit-scrollbar {
  width: 12px;
}

.mainContainer::-webkit-scrollbar-thumb {
  background-color: rgba(21, 42, 59, 0.75);
  border-radius: 6px;
}

.buttonContainer {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
  height: 10vh !important;
  /* Set the height of the container to 100% of the viewport height */
  padding-right: 250px !important;
  /* Optional: Add some padding to the right for spacing */
}

.mainButtons {
  font-size: 20px !important;
  padding: 10px 20px !important;
  margin-right: 20px;
}

.addMoreFieldsButton {
  font-size: 20px !important;
  margin-right: 10px;
  margin-left: 20px;
}